<?xml version="1.0" encoding="UTF-8"?>
<configuration monitorInterval="5">

    <Properties>
        <property name="LOG_PATTERN" value="%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36}  - %msg%n" />
        <property name="FILE_PATH" value="/coni-j/coni-j/logs"/>
        <property name="FILE_NAME" value="log4j2" />
    </Properties>

    <appenders>
        <console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
        </console>

        <RollingFile name="RollingFileFatal" fileName="${FILE_PATH}/${FILE_NAME}/data.log" filePattern="${FILE_PATH}/${FILE_NAME}-DATA-%d{yyyy-MM-dd}_%i.log.gz">
            <ThresholdFilter level="fatal" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="7"/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy max="15"/>
        </RollingFile>

        <RollingFile name="RollingFileError" fileName="${FILE_PATH}/${FILE_NAME}/detail.log" filePattern="${FILE_PATH}/${FILE_NAME}-DETAIL-%d{yyyy-MM-dd}_%i.log.gz">
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="7"/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy max="15"/>
        </RollingFile>

    </appenders>

    <loggers>
        <Logger name="org.mariadb.jdbc.message.server.ErrorPacket" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <root level="info">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFileFatal"/>
            <appender-ref ref="RollingFileError"/>
        </root>
    </loggers>
</configuration>
